.avatar {
  border-radius: 999px;
  transition: opacity 3s;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.description {
  position: relative;
  bottom: 9px;
}

.name {
  font-size: 38px;
  font-weight: 600;
  color: var(--element3);
  margin-bottom: 0;
  transition: opacity 3s;
}

.tag {
  color: var(--element1);
  font-size: 16px;
  margin-top: 6px;
  margin-left: 1px;
}

.out {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 31px;
  }

  .tag {
    font-size: 13px;
    margin-top: 5px;
  }

  .description {
    bottom: 10px;
  }

  .container {
    gap: 10px;
    margin-left: 5px;
  }
}
