.cd {
  margin-top: 20px;
  margin-bottom: 40px;
}

.link {
  font-size: 16px;
  color: var(--element2);
  text-decoration: underline;
  text-decoration-color: var(--element2);
}

.link:hover {
  color: var(--element3);
  text-decoration-color: var(--element3);
}
