/* Markdown Format CSS */
.md p,
.md ul,
.md ol {
  font-size: 16px;
  line-height: 27px;
  color: var(--element1);
}

.md li {
  margin: 5px 0;
}

.md h1 {
  font-size: 24px;
}

.md h2 {
  font-size: 22px;
}

.md h3 {
  font-size: 20px;
}

.md h4 {
  font-size: 18px;
}

.md h5,
.md h6 {
  font-size: 16px;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  color: var(--element3);
}

.md blockquote {
  padding: 8px 20px;
  border-left: 5px solid var(--element6);
  margin-left: 0;
}

.md code {
  background-color: var(--hljs0);
  padding: 3px;
  margin: 0 2px;
  border-radius: 5px;
}

.md p img {
  max-width: 100%;
  margin: 5px 0;
}

.md table {
  margin: 10px auto;
  color: var(--element1);
}

.md td {
  border-top: 1px solid var(--element2);
}

.md a {
  text-decoration: underline;
  text-decoration-color: var(--element1);
}
